@mixin transition($transition) {
	-webkit-transition: $transition;
	transition        : $transition;
}
@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform    : $transform;
	transform        : $transform;
}
@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation   : $animation;
	animation        : $animation;
}
@mixin webkit($prop, $val) {
	-webkit-#{$prop}: $val;
	#{$prop}        : $val;
}
@mixin keyframes($animationName) {
	 @-webkit-keyframes #{$animationName}{
		@content;
	}
	@-moz-keyframes #{$animationName} {
		 @content;
	}
	@-o-keyframes #{$animationName} {
		 @content;
	}
	@keyframes #{$animationName} {
		 @content;
	}
}
@mixin aspect-ratio($width, $height, $child: ".content") {
	position: relative;

	&:before {
		display    : block;
		content    : '';
		width      : 100%;
		padding-top: ($height / $width) * 100%;
	}

	> #{$child} {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
	}
}
@mixin site-button($width: 150px) {
	display         : inline-block;
	width           : $width;
	height          : 30px;
	line-height     : 30px;
	margin-right    : 50px;
	margin-top: 20px;
	cursor          : pointer;
	background-color: $button-color;
	color           : $section-font-color;
	text-align      : center;
	border-radius   : 3px;
	text-decoration: none;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: $button-hover-color;
		color: $section-font-color;
		text-decoration: none;
	}
}

@mixin tag() {
	display      : inline-block;
	border       : 1px solid #000;
	border-radius: 5px;
	margin-right : 10px;
	padding      : 2px 5px;
	text-align   : center;
	margin-top: 15px;
}
@mixin container-spacing() {
	padding-bottom: 40px;
}
@mixin image-spacing() {
	margin-top: 25px;
}
@mixin line-calc($spacing) {
	margin-top   : calc(#{$spacing} - #{$line-height-decimal});
	margin-bottom: -#{$line-height-decimal};
	line-height  : $line-height;
}
@mixin h1-heading() {
	color      : $hero-font-color;
	font-family: 'Limelight', cursive;
	padding    : 0;
	font-size  : 80px;
	@media(min-width: $screen-sm) {
		font-size: 10vw;
		@media(min-width: $screen-lg) {
			font-size: 120px;
		}
	}
	margin     : 0;
	line-height: 1em;
	margin-top : 60px;
	@media(min-width: $screen-sm) {
		 @include line-calc(60px);
	}
}
@mixin h2-heading() {
	color    : $hero-font-color;
	font-size: 28px;
	@media(min-width: $screen-sm) {
		font-size: 3vw;
		@media(min-width: $screen-lg) {
			font-size: 37px;
		}
	}
	margin   : 0;
	@include line-calc(35px);
}
@mixin h3-heading($section-text: false) {
	font-weight: 300;
	font-size  : 25px;
	@if $section-text {
		color: $section-font-color;
	}
	@else {
		color: $font-color;
	}
	@include line-calc(40px);
}
@mixin body-title($section-text: false) {
	font-weight: 300;
	font-size  : 20px;
	@if $section-text {
		color: $section-font-color;
	}
	@else {
		color: $font-color;
	}
	@include line-calc(40px);
}
@mixin body-text($section-text: false) {
	font-size: $font-size;
	@if $section-text {
		color: $section-font-color;
	}
	@else {
		color: $font-color;
	}
	@include line-calc(25px);
}
