// main: styles.scss
$screen-xs              : 600px;
$screen-sm              : 768px;
$screen-md              : 992px;
$screen-lg              : 1200px; //Color schemes
$error-color						: #BD362F;
$header-color           : #455b66; //Background color fo the header.
$hero-font-color        : #fff; //Color for hero-img text
$font-color             : #0A090C; //General color to use for text
$title-font-color       : #C62828; //General color to use for "special" titles.
$section-separator-color: #a94442;
$section-color          : #263238; //Background color for special sections
$section-font-color     : #fff; //Text color for special sections
$button-color           : #a94442; //Background-color for buttons
$button-hover-color     : darken($button-color, 10%); //Background-color on hover for buttons
$loader-color           : #4684ee; //Background-color for loading mask
$font-family            : 'Open Sans', sans-serif; //Font family for the majority of the website.
$font-size              : 14px; //General font size
$line-height            : 1.5em;
$line-height-decimal    : 0.5em;
