extends templates/layout.pug

block preBody
    -(bodyClasses.push("errorPageBody"))

block content
    .container-fluid
        .row
            .col-xs-12.text-center.error-page-content
                img.img-responsive(src=`https://httpstatusdogs.com/img/${status}.jpg`)
                .error-page-text
                    span To return to the homepage click&nbsp;
                    a(href='/') here
                pre.text-left= error.stack
