%section-spacing {
    padding-right: $section-constraint /2;
    padding-left: $section-constraint / 2;

    @media(min-width: $screen-md) {
        padding-right: $section-constraint-md / 2;
        padding-left: $section-constraint-md / 2;

        @media(min-width: $screen-lg) {
            padding-right: $section-constraint-lg / 2;
            padding-left: $section-constraint-lg / 2;
        }
    }
}

body.index-body {
    main {
        text-align: center;

        @media(min-width: $screen-sm) {
            text-align: left;
        }

        > section {
            background-color: $section-background-color;
            color: $section-font-color;
            padding-bottom: $section-bottom-spacing;

            @extend %section-spacing;

            &.alt {
                background-color: $alt-section-background-color;
                color: $alt-section-font-color;
            }
        }

        .project-tags {
            margin-top: 15px;
        }

        section.intro-section {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            padding: 0;
            min-height: 100vh;

            .hero-section {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 0 auto;

                .logo-container {
                    padding: 0 ($section-constraint / 2) 5px;
                    text-align: center;

                    .logo {
                        max-width: 100%;
                    }
                }

                .hero-container {
                    overflow: hidden;
                    max-height: 100vh;

                    .hero-image {
                        position: fixed;
                        z-index: -1;

                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;

                        background-image: url('/public/images/hero.jpg');
                        background-size: cover;

                        &::before {
                            content: '';

                            position: absolute;

                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;

                            backdrop-filter: blur(10px);
                        }
                    }
                }
            }

            .about-me {
                background-color: $alt-section-background-color;
                color: $alt-section-font-color;
                padding-bottom: $section-bottom-spacing;

                @extend %section-spacing;
            }
        }

        .portfolio-section {
            .project-asset-container {
                margin-top: 15px;
                position: relative;

                img {
                    width: 100%;
                }

                .project-desktop-asset {
                    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.12), 1px 1px 3px 0 rgba(0, 0, 0, 0.12);
                    width     : 75%;
                }

                .project-tablet-asset {
                    box-shadow: -3px 0 6px rgba(0,0,0,0.16);
                    width     : 25%;
                    position  : absolute;
                    right     : 10%;
                    bottom    : 0;
                }

                .project-mobile-asset {
                    box-shadow: -7px 0 14px rgba(0, 0, 0, 0.19), 1px 0 3px 1px rgba(0, 0, 0, 0.1);
                    width     : 15%;
                    position  : absolute;
                    right     : 0;
                    bottom    : 0;
                }
            }

            .site-button {
                margin-top: 30px;
            }
        }

        .why-me-section {
            .why-me-container {
                @media(min-width: $screen-md) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .why-me {
                    @media(min-width: $screen-md) {
                        flex: 1 1 0;
                        max-width: 49%;

                        &:nth-child(2)::before {
                            display: none !important;
                        }
                    }

                    &:first-child ~ .why-me::before {
                        content: '';
                        display: block;
                        border-top: 1px solid $separator-color;
                    }
                }

                .why-me-separator {
                    display: none;

                    @media(min-width: $screen-md) {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        .skills-section {
            .skill-check {
                @media(min-width: $screen-sm) {
                    display: inline-block;
                    vertical-align: top;

                    + .skill-check {
                        margin-left: 30px;
                    }
                }

                .skill {
                    &::before {
                        content: '✓';
                        display: inline-block;
                    }

                    .skill-text {
                        display: inline-block;
                    }
                }
            }
        }

        .contact-me-section {
            padding-top: 20px;

            @media(min-width: $screen-sm) {
                display: flex;

                > * {
                    flex: 1 1 50%;
                }
            }

            form {
                .site-button {
                    margin-bottom: 20px;

                    @media(min-width: $screen-sm) {
                        margin-bottom: 0;
                    }
                }

                > :not(.invalid-input-error) {
                    display: block;
                    width: 304px;
                    margin: 20px auto 0;

                    @media(min-width: $screen-sm) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                > input, > textarea {
                    color: $light-font-color;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    border-bottom: 2px solid $input-border-color;
                    transition: border 0.3s;
                    height: 25px;

                    &:focus {
                        outline: none;
                        border-bottom: solid 2px $input-border-color-focus;
                    }

                    &.invalid-input {
                        border-color: $error-color;
                    }
                }

                > textarea {
                    resize: vertical;
                }

                .invalid-input-error {
                    color: lighten($error-color, 10%);
                }
            }

            .references-container {
                .reference-author {
                    font-size: 0.9rem;
                    font-style: italic;
                    display: inline-block;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    color: $link-font-color;
                    text-decoration: none;

                    &:hover {
                        color: $link-font-color-hover;
                        cursor: pointer;
                    }

                    &::before {
                        content: '~ ';
                    }
                }
            }
        }

        footer {
            background-color: $footer-background-color;
            color: $footer-font-color;
            padding: 20px;

            @media(min-width: $screen-sm) {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .social-media-links {
                > a {
                    color: $footer-font-color;

                    & + a {
                        margin-left: 5px;
                    }

                    .fa {
                        font-size: 20px;
                    }
                }
            }

            .source-code-link {
                color: $link-font-color;

                &:hover {
                    color: $link-font-color-hover;
                    cursor: pointer;
                }
            }
        }
    }
}
